/* universal */
body {
    padding-top: 70px;
    padding-bottom: 70px;
}

textarea {
    resize: none;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1;
}

h1 {
    font-size: 3em;
    letter-spacing: -2px;
    margin-bottom: 30px;
    text-align: center;
}

h2 {
    font-size: 1.2em;
    letter-spacing: -1px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: normal;
    color: #777;
}

p {
    font-size: 1.1em;
    line-height: 1.7em;
}

ul {
    list-style: none;
}

.margin-none {
    margin: 0;
}

a, a:hover {
    text-decoration: none;
}


/*头像*/
.avatar {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
    margin-top: -3px;
}

.big-avatar {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
}

.bigger-avatar {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
}

.user-info {
    margin: 10px auto;
}

.user-info a {
    display: inline-block;
    width: 30%;
    color: #333;
    font-size: 16px;
}

.follow-btn {
    margin-bottom: 10px;
}

.articles-nav {
    margin-bottom: 10px;
}

.no-content {
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
    color: #2e6da4;
}

.comment-plus {
    color: #66615f;
    font-weight: 600;
}

.fa-thumbs-up, .fa-thumbs-down, .fa-comment, .fa-clock-o {
    display: inline-block;
    color: #2a88bd;
    font-size: 14px;
    margin-right: 5px;
    cursor: pointer;
}

.thumbs-active {
    color: #333;
    font-weight: bold;
}






